<p id="notice"><%= notice %></p>

<p>
  <strong>Controller:</strong>
  <%= @friendship.controller %>
</p>

<%= link_to 'Edit', edit_friendship_path(@friendship) %> |
<%= link_to 'Back', friendships_path %>
