<h1>Friend's Activities</h1>

<% @activities.each do |activity| %>
  <div class="activity">
    <%= link_to activity.owner.name, activity.owner if activityfeed.owner %>
    <%= render_activity activity %>
  </div>
<% end %>

test
test2
